body, .content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.content {
    display: flex;
    flex-direction: column;
    max-height: 100vh;

}

.background{
    background-image:url(images/bg.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;

}


body, html {
    margin:0!important;
    padding:0!important;
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    
}

.btn-primary {
    background-color: #2965b4 !important; 
    border-color: #4386dd;
    width: fit-content;
}

.fit-content {
    width: fit-content!important;
}

#messageBox, #username {
    border-radius: 15px;
}

#messageBox {
    width: 100%;
}

.messages {
    background-color:#353535;
    color: rgb(112, 108, 97);
    max-height: 90vh;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 45px;
    margin-bottom: 40px;
    height: 90vh;
}

#messagesArea {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
}

.message {    
    background-color:#2965b4;
    color: aliceblue;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    flex-direction: column;
    display: block;
    max-width: 60%;
    min-width: 10%;
    width: fit-content;
}

.username {   
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 1px ;
    padding-right: 1px;
    font-size: 88% ;
    box-sizing: border-box;
    text-overflow: inherit;
}

.modal-content {
    background-color: #353535;
    color: aliceblue;
}

 /* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
} 