<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Message</title>
    <link rel="stylesheet" href="/content/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/content/libs/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/content/libs/js-snackbar-master/dist/js-snackbar.min.css">
    <link rel="stylesheet" href="/content/custom.css">
    <link rel="icon" type="image/x-icon" href="/content/images/favicon.ico">
</head>

<body>
    <div class="background">
        <div class="content">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-1"></div>
                <div class="col-lg-8 col-md-8 col-10">
                    <div class="card messages">
                        <div class="card-body d-flex flex-column" id="messagesArea">
                            {% for message in messages %}
                            <span class="username">{{message.User}}</span>
                            <div class="message" username="{{message.User}}">
                                <p class="message-content">{{message.Value}}</p>
                            </div>
                            <br />
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-row">
                                <input placeholder="Type a message" id="messageBox" type="text"
                                    class="form-control me-3" onkeyup="checkForEnter(event, sendMessage)">
                                <button type="button" onclick="sendMessage()" class="btn btn-primary fit-content"
                                    id="messageBtn">
                                    <i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-1"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalUsername" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalUsernameLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalUsernameLabel">Enter username</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-row">
                            <input placeholder="User" id="username" onkeyup="checkForEnter(event, saveUsername)"
                                type="text" class="form-control me-3">
                            <button type="button" class="btn btn-primary" onclick="saveUsername()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <audio class="d-none" id="messageAudio" src="/content/audios/new_message.wav"></audio>
    </div>
    <script src="/content/libs/socket.io/socket.io.min.js"></script>
    <script src="/content/libs/jquery/jquery.min.js"></script>
    <script src="/content/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/content/libs/font-awesome/js/all.min.js"></script>
    <script src="/content/libs/js-snackbar-master/dist/js-snackbar.min.js"></script>
    <script src="/content/script.js"></script>
</body>
</html>