<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Message</title>
    <link rel="stylesheet" href="/content/libs/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript">
      window.FontAwesomeConfig = { autoReplaceSvg: false }
    </script>
    <link rel="stylesheet" href="/content/libs/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/content/libs/js-snackbar-master/dist/js-snackbar.min.css">
    <link rel="stylesheet" href="/content/libs/plyr/plyr.min.css">
    <link rel="stylesheet" href="/content/custom.css">
    <link rel="icon" type="image/x-icon" href="/content/images/favicon.ico">
</head>

<body class="listen-clipboard">  
    <div class="background">
        <div class="content">
            <div class="card messages position-relative">
                <div class="users-typing d-none">
                    User is typing...
                </div>
                <div class="replying-to reply d-none">
                    <div class="replying-username">Test</div>
                    <div class="replying-message">Replying to</div>
                    <button type="button" class="btn-close btn-close-white btn-stop-replying" onclick="stopReplying()"></button>
                </div>

                <div class="call-controls d-none">
                    <div class="center-controls mx-auto">
                        <button id="micBtn" class="remove-style" type="button" onclick="toggleMicrophone();">
                            <i class="fa-solid fa-microphone-slash text-white fa-xl"></i>
                        </button>
                        <button id="leaveCall" class="btn btn-danger rounded-circle ms-3" type="button" onclick="leaveCall();">
                            <i class="fa-solid fa-phone text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="card-header">
                    <i class="fa-solid fa-comment"></i>&nbsp; <span id="chatroom" contenteditable="true">{{ chat }}</span>
                </div>
                <div class="card-body d-flex flex-column" id="messagesArea">
                </div>
                <div class="card-footer">
                    <div id="MessageBoxDiv" class="d-flex flex-row">
                        <input id="sendFiles" class="d-none" type="file" onchange="validateFiles(this)" multiple>
                        <button class="remove-style animate me-3" type="button" onclick="$('#sendFiles').click()"><i
                                class="fa-solid fa-plus text-white fa-xl"></i></button>

                        <input placeholder="Type a message" id="messageBox" type="text"
                            class="form-control me-3" onkeyup="verifyMessage(event)" >

                        <button id="recordBtn" class="remove-style animate" type="button" onclick="recordAudio();"><i
                                class="fa-solid fa-microphone text-white fa-xl"></i></button>

                        <button type="button" onclick="sendMessage()" class="remove-style animate d-none"
                            id="messageBtn">
                            <i class="fa-solid fa-paper-plane text-white fa-xl"></i></button>
                    </div>
                    <div id="SelectedFileDiv" class="d-flex flex-row d-none">
                        <button type="button" class="btn-close btn-close-white m-auto"
                            onclick="unselectFiles()"></button>
                        <span class="w-100 ms-3 my-auto text-white">Send files</span>
                        <button type="button" onclick="sendFile()" class="remove-style" id="FileBtn">
                            <i class="fa-solid fa-paper-plane text-white fa-xl"></i>
                        </button>
                    </div>
                </div>
            </div>


{#                    <button id="joinCallBtn" type="button" onclick="joinCall()" class="btn btn-primary mt-5">#}
{#                        <i class="fa-solid fa-phone text-white fa-xl"></i>#}
{#                    </button>#}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalUsername" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalUsernameLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalUsernameLabel">Enter username</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-row">
                            <input placeholder="User" id="username" onkeyup="checkForEnter(event, saveUsername)"
                                type="text" class="form-control me-3">
                            <button type="button" class="btn btn-primary" onclick="saveUsername()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <audio class="d-none" id="messageAudio" src="/content/audios/new_message.wav"></audio>
        <audio class="d-none" id="announceAudio" src="/content/audios/a.mp3"></audio>
    </div>
    <script src="/content/libs/socket.io/socket.io.min.js"></script>
    <script src="/content/libs/socket.io/socket.io.p2p.min.js"></script>
    <script src="/content/libs/jquery/jquery.min.js"></script>
    <script src="/content/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/content/libs/font-awesome/js/all.min.js"></script>
    <script src="/content/libs/js-snackbar-master/dist/js-snackbar.min.js"></script>
    <script src="/content/libs/plyr/plyr.min.js"></script>
    <script src="/content/js/script.js"></script>
</body>

</html>